@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

body{
  text-align: center;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  background-color: #22262B;
  color: white;
}

.clock{
  height: 300px;
  width: 300px;
  margin: 20px auto;
  border: 2px solid  #22262B;
  box-shadow: 0 0 0px 2px SkyBlue;
  border-radius: 100%;
  cursor: pointer;
}
#grad {
    background: -webkit-gradient(linear, top, bottom, color-stop(100%,#22262B), color-stop(40%,#00F));
    background: -moz-linear-gradient(top center, #22262B 100%, #00F 40%);
    background: -o-linear-gradient(top, #22262B 100%, #00F 40%);
    background: linear-gradient(to bottom, #22262B 100%, #00F 0%);
}
h1{
  font-size: 60px;
  /* font-family: Pacifico; */
}
h3{
  font-size: 40px;
}

.controllers{
  display: flex;
  flex-direction: row;
}

.break-buttons{
  display: flex;
  flex-direction: row;
}

.timers{
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.clocktest{
  display: flex;
  flex-direction: column;
}

.timers div{
  display: inline-block;
  margin: 0px 20px;
}
.in{
  display: inline-block;
  margin: 5px;
}
button{
  color: white;
  background-color: #22262B;
  border:0;
  outline: 0;
}
button:hover{
  cursor: pointer;
}
#break, #count, button{
  font-size: 40px; 
}
.title, .timer{
  font-size: 50px;
  margin-top: 60px;
}